:root{
    /* Color */
    --primary-color:#5e0909;

    --secondary-color:#000;

    --color-white:#fff;



    --card-width:300px;
    --card-height:300px;




    /* Font */
    --font-family: 'Lato', sans-serif;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --letter-spacing:0.05;
    --font-size-0-9:0.9rem;
}